@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,600,700');


body {
  font-family: 'Roboto' !important;
}

.shadow-md {
  box-shadow: 0 0 2 1 rgba(0, 0, 0, 0.07);
}

.p-3 {
  padding: 1rem !important;
}



._no-br-bottom {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

._title-img {
  position: relative;
  width: 100%;
  height: 170px;
  background: #C4C4C4;
}

._title-img1 {
  position: relative;
  width: 100%;
  height: 72px;
  background: #C4C4C4;
}

.smalltext {
  font-size: 0.9rem;
}

.smallertext {
  font-size: 14px;
}

.verysmallertext {
  font-size: 14px;
}

._tran {
  position: absolute;
  transform: translate(50%, 80%);
}

._profile-pic {
  position: absolute;
}

.navigationbuttons {
  font-size: 16px;
}

.workattribute {
  font-size: 16px;
}

@media(max-width:576px) {
  .navigationbuttons {
    font-size: 3.8vw;

  }




  .verysmallertext {
    font-size: 0.7rem
  }

  .subbuttons {
    font-size: 3.8vw;
  }

  .secondboxtitel {
    font-size: 3.8vw;
  }
}

@media(max-width:1000px) {
  .subbuttons {
    font-size: 2.8vw;
  }
}

.subbuttons {
  font-size: 14px;
}

.button {


  background: transparent;



  display: inline-block;
  cursor: pointer;



  text-decoration: none;

}

.btn:active {}

.btn:hover {}

.btn {}

.buttontop {


  background: transparent;



  display: inline-block;
  cursor: pointer;



  text-decoration: none;

}

.buttontop:active {
  position: relative;

  color: #FF9721 !important;
  border-bottom: #FF9721 solid;
}

.buttontop:target {
  position: relative;

  color: #FF9721 !important;
  border-bottom: #FF9721 solid;
}


.button:active {
  position: relative;

  color: #FF9721 !important;
  border-left: #FF9721 solid;
}

.button:target {
  position: relative;

  color: #FF9721 !important;
  border-left: #FF9721 solid;
}



.postbuttons {
  cursor: pointer;
  color: #7F7F7F;
  font-size: 16px;
  background: transparent;
  border-color: transparent;
}

.postbuttons:hover {
  text-decoration: underline;


}

@media(max-width:576px) {
  .postbuttons {
    font-size: 3.8vw;

  }
}


.posticon1 {
  cursor: pointer;
  color: #7F7F7F;
  font-size: 14px;
  background: url("Like.svg") no-repeat;

}

.posticon1:hover {
  background: url("Likeactive.svg") no-repeat;


}

.posticon1:active {
  background: url("Likeactive.svg") no-repeat;



}


.posticon2 {
  cursor: pointer;
  color: #7F7F7F;
  font-size: 14px;
  background: url("comment.svg") no-repeat;
}

.posticon2:hover {
  background: url("commentactive.svg") no-repeat;


}

.posticon3 {
  cursor: pointer;
  color: #7F7F7F;
  font-size: 14px;
  background: url("share.svg") no-repeat;
}

.posticon3:hover {
  background: url("shareactive.svg") no-repeat;


}

.postpublishername {
  cursor: pointer
}

.postpublishername:hover {
  text-decoration: underline;

  color: #0f65c2
}

.textfield {
  cursor: text;
  width: 78%;



  background-color: ;
  border-bottom: #FF9721;

}

.postcommentbar {
  border: 1px solid #7F7F7F;
  border-radius: 20px;

  height: 49px;
  cursor: text;

}

.postcommentbar:hover {}

.postcommentbar:active {
  border-color: darkgray solid;
}

.postcommenttext {

  border-radius: 2px;
  background: #f2f2f2;

  cursor: text;

}

.postcommenttext:hover {}

.postcommenttext:active {
  border-color: darkgray solid;
}

.postbox {

  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  height: 68px;
  text-align: left;
  width: 100%;
  position: absolute;
  padding-top: 23px;
  padding-left: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.015em !important;

  color: #988F86;
}

.postbox:hover {



  color: #FF9721;
}

.postbutton {
  background: #0c6dfd;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: 30px;
  text-align: center;
  width: 70px;


}

.postbutton:hover {
  background-color: darkblue;
  font-weight: 600;
}

.postbutton:active {}

.postcommenttextname {
  color: black;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

}

.postcommenttextname:hover {
  color: #0c6dfd;
  text-decoration: underline;
  font-weight: 600;


}

.connectiongrade {
  color: #7F7F7F;
  font-size: 11px;
  font-weight: 500;

  margin-top: ;

}

.postcommenttime {
  color: #7F7F7F;
  font-size: 13px;
  font-weight: 500;
  cursor: text;
  margin-top: ;

}

.postcommentset {
  color: #7F7F7F;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-top: ;

}

.commentlikenumbers {}

.commentlikenumbers:hover {
  cursor: pointer;


}

.showmore {
  color: #7F7F7F;
  cursor: pointer;
  border-radius: 3px;


}

.showmore:hover {
  background: lightgray;
}

.showmore:active {
  color: black
}

.namepostbox {
  border-radius: 20px;
  color: #7F7F7F;
  background-color: transparent;
  border-color: #7F7F7F;
  border: #7F7F7F;
}

.container {
  max-width: 1128px;
}

.checkboxpostvisibility0 {
  height: 30px;


}

.checkboxpostvisibility1 {
  font-size: 16px;


}

.checkboxpostvisibility2 {

  font-size: 12px;
  color: #7F7F7F;

}

.inputpostmodal {
  outline-color: transparent;

}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  height: 100px;

}

.curaInput {
  font-size: 16px;
  color: #7F7F7F;
  border-color: transparent;

  width: 100%;

}


input {
  outline: none;
}

textarea:focus {
  outline: none;
  color: black
}

textarea {
  resize: none;
}




.cura-col-2 {
  width: 20%;
}



body {
  font-family: 'Roboto' !important;
}

.lds-spinner {
  color: #23180C;
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
}

.lds-spinner div {
  transform-origin: 12px 12px;
  animation: lds-spinner 0.8s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 11px;
  width: 2px;
  height: 6px;
  border-radius: 20%;
  background: #BCBBBB;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(360deg);
  animation-delay: 0s;
}



@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* AB HIER BEGINNT DAS NEUE STYLESHEET FÜR DIE FEED SEITE */
.cura-col-7 {
  width: 57% !important;
}

.cura-col-2 {
  width: 18% !important;
}

.cura-col-1 {
  width: 9% !important;
}

.cura-col-3 {
  width: 25% !important
}

@media (max-width: 992px) {
  .cura-col-7 {
    width: 100% !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cura-col-7 {

    width: calc(100vw - 330px) !important;

  }
}



.container {
  max-width: 1157px;
}



.ProfileBoxLeftInner {
  padding: 2px;





  border-radius: 5px;
  background-color: #F6F6F6;
  float: end;

}


.ProfileBoxRight {
  border-radius: 5px;
  background-color: #F6F6F6;
  cursor: pointer;
}

.ProfileBoxSecondRight {

  background-color: transparent;

}


.ProfileBoxSecondLeft {}

.ProfileBoxSecondLeftInner {}






.ProfileImageUser {
  background-image: url('/images/UsertestPhoto.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


}

.ProfileImageUser1 {
  background-image: url('/images/UserTest1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


}

.ProfileImageUser2 {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


}

.ProfileImageUser3 {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


}


._profile-pic-btns {



  height: 67px;
  width: 67px;
  border-radius: 50%;

  background-image: url("image/UserTestPhoto.png");
  border: #fff solid 1px;




}

._profile-pic-btnsNavRight {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  cursor: pointer;
}



.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  margin: auto !important;
  max-width: 1158px !important;
}

.ProfileBoxLeftFontStyle {
  font-size: 16px;
  font-weight: 700;
  color: #23180C;
  line-height: 20px;



}

.ProfileBoxLeftProfileViews {
  width: 111px !important
}

.ProfileBoxLeftProfilePosts {
  width: 76px !important
}





.ProfileBoxLeftProfileViews1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
  padding-top: 10px;


}

.ProfileBoxLeftProfileViews2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;

  padding-top: 2px;

}

.ProfileBoxLeftProfilePosts1 {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;

  padding-top: 10px;
}

.ProfileBoxLeftProfilePosts2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;

  padding-top: 2px;
}

.linebetween {

  background-color: #BCBBBB;
  width: 0.5px !important;
  height: 37px !important;
  margin-top: 7px !important;
  display: inline-block;
}

.lineSeperation {

  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid #BCBBBB;
  opacity: 0.50;





}

.lineSeperation2 {
  width: 95% !important;


  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid #BCBBBB;
  opacity: 0.50;





}

.ProfileBoxSecondLeftButtons {
  height: 34px;
}



.NavBarLeft {
  text-align: center;

  height: 34px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  color: #988F86;
  cursor: pointer;


}

.NavBarLeft2 {
  text-align: center;

  height: 26px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  color: #FF9721;
  cursor: pointer;
}

.NavBarLeft:hover {
  color: #FF9721;
  background-color: #F6F6F6;



}

.NavBarRight {
  display: flex;
  cursor: pointer;
  align-items: center !important;
  text-align: center !important;
}

.NavBarSecondRight {
  display: flex;

  align-items: center !important;
  text-align: center !important;
}



.InviteFriendsButtonRight1 {
  width: 100%;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;

  color: #988F86;
}

.InviteFriendsButtonRight2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  text-decoration-line: underline;

  color: #23180C;
}

@media (max-width: 1200px) {
  .InviteFriendsButtonRight2 {
    font-size: 13px;

  }
}

.NavBarSecondRight1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;

  color: #23180C;
}

.NavBarSecondRight2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */


  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;

  color: #988F86;

}

.InviteFriendsProfilTextRight1 {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #636466;
}

.InviteFriendsProfilTextRight2 {
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;



  color: #988F86;
}

.InviteFriendsProfilTextRight3 {
  width: 100%;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;



  color: #988F86;
}

.svg {
  width: 22px;
  fill: red
}

#target {

  transition: opacity 2.2s;
}

#targetdiv {
  transition: opacity 1.2s;
}

.RequestSend {
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.025em;
  line-height: 12px;
  cursor: pointer;


  color: #988F86;
}

.FeedPostBar {
  border-radius: 5px;
  width: 86%;
  height: 68px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.07);
}

.PostMrMl {
  margin-left: 15px;
  margin-right: 15px
}

@media (max-width:577px) {
  .PostMrMl {
    margin-left: 0px !important;
    margin-right: 0px !important
  }

  .FeedUserPostShaddow {

    border-radius: 0px !important;
  }
}

.FeedUserPostShaddow {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.FeedQuestionButton {
  width: 200px;
  height: 68px;
  background: #FF9721;
  border-radius: 5px;
  position: absolute;
  left: 102%;
  cursor: pointer;

  width: 8.5%;
  float: right;
}

.QuestionMark {
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.015em;
  float: center !important;

  color: #FFFFFF;
}

.AskSomeThing {
  margin-top: -3px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #FFFFFF;






  line-height: 14px;


}

.CustomFullScreenModal {
  width: 100vw !important;
}

.marginttopmobile {}

@media (max-width:992px) {
  .marginttopmobile {

    margin-top: -25px !important;
  }
}

.FeedMarginLeftRight {
  margin-left: 60px !important;
  width: calc(100% - 60px);

}

.HideOverflowText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.HideOverflowTextFeed {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 2rem !important;
}


  .PostNameFont {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #23180C;

  }

  .PostStelleAGFont {
    font-size: 13px;
    line-height: 15px;
    color: #7F7F7F;

  }

  .PostCommonFriendsFont {
    font-size: 13px;
    line-height: 15px;
    color: #BDBDBD;

  }


  .PostStelleAGFont2 {
    font-size: 13px;
    line-height: 14px;
    color: #7F7F7F;
    font-weight: 500;

  }

  .PostTimeFont {
    font-size: 13px;
    color: #7F7F7F;

  }

  .PostBodyTextFont {
    color: #23180C;
    font-size: 15px;
    line-height: 19px;


  }

  .PostLikeFont {
    cursor: pointer;
    color: #7F7F7F;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border-color: transparent;
  }

  .PostLikeFont:hover {
    text-decoration: underline;


  }



  @media (max-width: 500px) {
    .PostNameFont {

      font-weight: 500;
      font-size: 14px !important;
      line-height: 14px;
      color: #23180C;

    }



    .PostStelleAGFont {
      font-size: 12px !important;
      line-height: 14px;
      color: #7F7F7F;

    }

    .PostCommonFriendsFont {
      font-size: 12px !important;
      line-height: 14px;
      color: #BDBDBD;

    }

    .PostTimeFont {
      font-size: 12px !important;

      color: #7F7F7F;

    }


  }

  @media (max-width: 786px) {


    .PostStelleAGFont2 {
      font-size: 12px;
      line-height: 13px;
      color: #7F7F7F;
      font-weight: 500;

    }


    .PostTimeFont {
      font-size: 12px;
      color: #7F7F7F;

    }

    .PostBodyTextFont {
      color: #23180C;
      font-size: 14px !important;
      line-height: 18px;

    }

    .post-action-btn-img {
      width: 26px;
      height: 23px;

    }

    .PostHorLineStyle {
      color: #E2E1E1;
      padding-left: 0px !important;
    }


  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BCBBBB;
    outline-color: transparent;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #BCBBBB;
    outline-color: transparent;
  }

  ::-ms-input-placeholder {
    font-size: 14px;
    outline-color: white;
  }

  .PostBorderComment {
    border: 1px solid #BCBBBB !important;
  }

  .PostMarginLeftRight {
    margin-left: 55px !important;
    width: calc(100% - 55px);

  }

  .ShowMoreFont {
    font-weight: 500;
    font-size: 14px;
    color: #FF9721;

  }



  .ModalHeaderProfile {
    font-weight: 500 !important;
    font-size: 19px;
    color: #212529
  }

  .HideOverflowText {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;

  }

  .btn-warning2 {
    background-color: white !important;
    color: #FF9721 !important;
    border-color: #ff9721 !important;
  }

  .buttonmessage {
    width: 145px;
    height: 28px;
    background-color: white;
    border-radius: 5px;
    border: #7F7F7F solid 1px;
    color: #7F7F7F;
    font-size: 14px;

  }

  .CommentInvisibleBtn {
    background: transparent;
    border-color: transparent;
  }





  .HideOverflowText2 {
    display: -webkit-box;
    display: -moz-box;
    overflow: hidden;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-height: 2rem !important;
  }

  .HideOverflowText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }

</style>
